# --- Python 相關 ---
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
.cache/

# --- Docker & Git ---
.git/
.gitignore
docker-compose.yml
Dockerfile
.dockerignore

# --- 測試報告與日誌 ---
summary_report.html
*.log
out/

# --- 作業系統與 IDE ---
.DS_Store
.vscode/
.idea/

!onnx_export/