__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

.env
.pdf

data/*.csv
data/*.npy

#model/*.joblib

reports/
*.log
report.html
server.log

.vscode/
.idea/
.DS_Store
Thumbs.db

*.tar