__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

.env
.pdf
.bat
.ps1

data/*.csv
data/*.npy

#model/*.joblib
onnx_export/
reports/
*.log
summary_report.html
server.log

.vscode/
.idea/
.DS_Store
Thumbs.db

*.tar